.contactForm{
	width: 100%;
}
.formName {
    display: flex;
    justify-content: space-between;
}

.name{
	border: 0px;
	width: 50%;
    height: 50px;
    border-radius: 0px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 20px;
}

.name:first-child{
  margin-left: 0px;
}

.formTitle{
	border: 0px;
	width: 100%;
    height: 50px;
    border-radius: 0px;
    background-color: #fff;
    margin-bottom: 20px;

}

.FormText{
	border: 0px;
	width: 100%;
    height: 100px;
    border-radius: 0px;
    background-color: #fff;
    margin-bottom: 20px;
}

.formButton{
	color: #fff;
    border: 0px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #252525;
    padding: 10px 35px;
    cursor: pointer;
}
