.header {
    grid-area: h;
    background-color: #0050B3;
    -webkit-box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 100%;
}

.header img {
    width: 50px;
    padding: 5px;
}

.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
}

.header__innerLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__innerLeft img {
    width: 40px;
    margin-right: 10px;
}

.header__innerForm {
    position: relative;
}

.header__innerSearchIcon {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 5px;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    fill: #8c8c8c;
    outline: none;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.header__innerSearchBar {
    border-radius: 5px;
    border: 0px;
    padding: 7px 20px;
    width: 336px;
    outline: none;
}

.header__innerSearchicon:hover {
    fill: #1890ff;
}

::placeholder {
    color: #bfbfbf;
    font-size: 14px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__link {
    margin: 0px 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__linkImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav__linkImage img {
    border-radius: 50%;
}

.nav__link a {
    text-decoration: none;
    color: #fff;
}

.nav__link:after {
    content: ' ';
    width: 2px;
    height: 15px;
    background-color: #000;
    position: absolute;
    background-color: #003a8c;
    right: -10px;
}

.dropdownItem {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #595959!important;
    position: absolute;
    left: -4px;
    top: 5px;
    width: 100px;
    padding-left: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdownItem a{
    text-decoration: none;
    color: #000;

}

.dropdownItem button{
    background-color: transparent;
    border: none;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 0px;
    outline: none;
    cursor: pointer;

}

.dropdownItem::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 22px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.05);
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.iconNavs {
    width: 30px;
    height: 25px;
    padding: 0 5px;
    fill: #002766;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}