.profile {
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    min-height: 300px;
}

.profile__avatar {
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile__avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

.profile__topCover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.profile__topCover img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.profile__name {
    text-align: center;
    margin-top: 60px;
    font-weight: 500;
}

.profile__status {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    border-bottom: 1px solid #e8e8e8;
}

.profile__aboutUser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    line-height: 1.5;
    font-size: 14px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
.uploadImage{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;

    border: 0px;
    background-color:transparent;
    transition: all .2s linear;
    text-align: center;
    padding-top: 0;
    fill: transparent;
    
}
.uploadImage:hover{
    background-color: rgba(0, 0, 0, 0.61);
    fill: #fff;
    padding-top: 43px;
    
}

.uploadImage svg {
    width: 20px;
    height: 20px;
}

.status__EditMode{
    cursor: pointer;
}

.input__editMode{
    outline: none;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}