.dialogs {
  display: flex;
}

.dialogPage {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  margin-right: 20px;
}

.dialogItems {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dialogItems__inner {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  background-color: rgba(202, 194, 194, 0.267);
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  margin-right: 20px;
}

.dialogItems__inner a {
  color: #000;
  text-decoration: none;
}

.messages {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  background-color: rgba(202, 194, 194, 0.267);
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.messageForm {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.messageForm textarea {
  border: 0;
  height: 60px;
  resize: none;
  outline: none;
  padding: 20px;
  font-size: 14px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 19px;
  border-radius: none;
  font-family: 'Roboto', sans-serif;
}

.messageForm button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  color: #1890ff;
  transition: all .2s linear;
}

.messageForm:hover button {
  transform: translateY(-3px);
}
