.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
padding:  10px 0;
}
.dialogsItems  a{
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.dialogsItems a .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

